{
	"id": "gridappsd-distributed-static-ybus-service",
	"description": "A service for calculating the Ybus for a particular distributed area.",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": ["MODEL_MRID=_C1C3E687-6FFD-C753-582B-632A27E28507"],
	"execution_path": "/gridappsd/services/gridappsd-distributed-static-ybus-service/distributed_static_ybus_service.py",
	"type": "PYTHON",
	"launch_on_startup": "true",
	"prereqs": ["context_manager"],
	"multiple_instances": "false",
	"environmentVariables": []
}
